.close {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.conditions {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin: 1.5rem;
  padding: 1rem;
  background-color: #ebe3e3;
  border-radius: 6px;
}
