.tab-container {
  border: solid 1px rgb(193, 193, 193);
  border-radius: 6px;
}

button {
  height: 3rem;
  cursor: pointer;
  color: white;
  background-color: #2b8de3;
  position: relative;
  margin-right: 0.3rem;
  border-radius: 4px;
  border-color: #2b8de3;
  transition: all 0.3s ease;
}

button:hover:not(.active) {
  background-color: white;
  color: #198aed;
}

.close {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  margin-right: 0px;
  color: currentColor;
  opacity: 1;
}

.active {
  background-color: white;
  color: #198aed;
  transition: all 0.3s ease;
}

.active:hover {
  background-color: #198aed;
  color: #fff;
}
